.projects-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.project {
  margin: 10px;
  width: 345;
}

@media (max-width: 767px) {
  .projects-container {
    margin-left: -60px;
  }
}
