/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
    background-color: black;
  }
  
  li a {
    display: block;
  }*/

body {
  margin: 0;
  font-family: "Raleway";
}

.container {
  margin-left: 220px;
  padding: 1px 16px;
  top: 80px;
  position: absolute;
  z-index: -1;
}

.header {
  background: white;
  color: black;
  position: fixed;
  top: 0;
  right: 0;
  margin-left: 220px;
  width: calc(100% - 220px);
  height: 80px;
}

.side-nav {
  margin-top: 0px;
  width: 150px;
  position: fixed;
}
